body {
  font-family: 'Montserrat', sans-serif;
  //background-color: #0cb3f8;

  .banner {
    height: 60px;
  }

  input, textarea {
    font-family:inherit;
    font-size: inherit;
  }

  .form-inline {
    margin: 0px auto;
    width: 500px;
  }

  .topnav {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  h1 {
    font-weight: 700;
    font-size: 70px;
    color: white;
    padding-top: 1.5em;
    padding-bottom: 0.25em;
  }

  h2 {
    font-weight: 700;
    font-size: 44px;
    color: black;
    padding-top: 1.5em;
    padding-bottom: 0.25em;
  }

  h3 {
    font-weight: 200;
    font-size: 11px;
    line-height: 20px;
  }

  h4 {
    font-weight: 300;
    font-size: 21px;
    color: white;
  }

  h5 {
    font-weight: 200;
    font-size: 16px;
    color: #747474;
    padding-bottom: 4em;
  }

  a {
    font-weight: 700;
    font-size: 12px;
    margin-right: 30px;
    color: white;

    &.links {
      color: black;
    }
  }

  a:active, a:focus {
    padding-bottom: 0.2em;
    border-bottom: 3px solid white;
  }

  a:target {
    border-bottom: 3px solid white;
  }



  p {
    font-weight: 300;
    font-size: 13px;
    color: #747474;

    &.ban {
      color: #292534;
    }

    &.bold {
      font-weight: 700;
      padding-top: 2em;
    }

    &.small {
      font-weight: 300px;
      color: black;
      font-size: 12px;
      padding-bottom: 2em;
    }

    &.big {
      font-weight: 300px;
      color: black;
      font-size: 14px;
    }

    &.white {
      font-weight: 300px;
      color: white;
      font-size: 14px;
    }

    &.little {
      font-weight: 300px;
      color: white;
      font-size: 12px;
      padding-bottom: 2em;
    }
  }

  .light {
    color: white;
  }

  .number {
    font-weight: 700;
    font-size: 48px;
  }


  #iphone {
    max-width: 180px;
  }
  #iphone2 {
    padding-bottom: 4em;
    //max-width: 200px;
  }
  #check {
    padding-right: 0.75em;
  }
  #apple {
    padding-right: 2em;
  }
  #learn {
    font-size: 10px;
    border: none;
  }
  #black {
    padding-left: 4em;
    float: left;
    //padding-right: 4em;
  }
  #company {
    padding-right: 2em;
  }
  #social {
    padding-right: 1em;
    text-align: right;
    float: right;
    //margin-right: 2em;
  }

  .social {
    margin-right: 2em;
  }

  .btn-primary {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 140px;
    padding: 1em 3em;
    font-weight: 700;
    font-size: 10px;
    border-radius: 25px;
    background-color: white;
    color: black;

    &.new {
      border: none;
      margin: none;
      padding: none;
      width: 60px;
      padding: 0.4em .6em;
      font-weight: 300;
      font-size: 9px;
      background-color: #1b8bf9;
      color: white;
      margin-right: 2em;
    }

    &.download {
      border: none;
      border: 1px solid white;
      background-color: transparent;
      color: white;
      width: 150px;
      padding: 1.5em 1em;
      margin-right: 3em;
      margin-top: 6em;
      font-size: 10px;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  .submit {
    padding-bottom: 4em;
  }


  .row {
    background: #f5f4f4;
    //width: auto;
    //height: auto;
    //text-align: center;

    &.hero-image {
      background: #0cb3f8;
    }

    &.dark {
      background: #222222;
    }

    &.plain {
      background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url("../images/cliffs.png");
      max-height: 344px;
      //width: 100%;
      margin-right: -50;
      margin-left: -50;
    }

    &.footer {
      background-color: white;
      height: 8em;
      padding-top: 2.5em;
      color: black;
      text-align: center;
    }

    .price {
      background: white;
      border-radius: 5px;
      padding-top: 20px;
      padding-bottom: 10px;
      margin-bottom: 6em;
      &.alt {
        background: #1b8bf9;
      }
    }

    .col {
      &.left {
        float: left;
        text-align: left;
        max-width: 350px;
        padding-left: 4em;
        //padding-right: 4em;
      }
      &.right {
        float: right;
        text-align: right;
      }
    }
  }

  * {box-sizing: border-box;}

  .form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-bottom: 5em;
  }

  .form-inline label {
    margin: 5px 10px 5px 0;
  }

  .form-inline input {
    width: 350px;
    color: white;
    vertical-align: middle;
    margin: 5px -5px 5px 0;
    padding: 15px;
    background-color: rgba(255, 255, 255, .3);
    border: none;
    font-size: 11px;
  }

  .form-inline button {
    border: none;
    width: 150px;
    padding: 15px 50px;
    background-color: white;
    color: black;
    font-weight: 700;
    font-size: 11px;
    cursor: pointer;
    border-radius: 5px;
  }

  .form-inline button:hover {
    background-color: royalblue;
  }


  @media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
    }

    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }
}
