body {
  font-family: 'Playfair Display', serif;
  text-align: center;
  background-color: #F4F4F4;
  color: #606060;
  margin: 0 auto;

  background-image: url('http://jzuraf.xyz/ucla_week10/images/back.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
}

// NAVIGATION //

// ICONS //
.selfie {
  width: 75px;
  height: auto;
  margin: 1em;
  border-radius: 50%;
  border: 1px solid white;
}
.icon {
  transition: transform .7s ease-in-out;
}
.icon:hover {
  transform: rotate(360deg);
}

// LINKS & TITLES //
a {
  color: #606060;
  font-weight: 600;
  font-size: 40px;
  font-style: italic;
}
a:hover {
  color: #FD5003;
  font-style: normal;
}

.title {
  color: #606060;
  font-weight: 600 !important;
  font-size: 40px !important;
  font-style: italic;
}

// HOME PAGE //
.splash {
  margin-top: 6em;
  margin-bottom: 8em;
}
.bio {
  text-align: right;
  //padding: 0:
  padding-right: 30px;
  padding-left: 15px;

  .name {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .subtitle {
  }
  .info {
    padding-bottom: 20px;
    padding-left: 1em;
  }
}
.menu {
  text-align: left;
  padding-top: 50px;
  padding-right: 15px;
  padding-left: 30px;
  border-left: 2px solid #606060;
}

// WORK PAGE //
.title {
  position: relative;
  //padding-left: .8em;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 35px;
  width: 50%;
  margin: 0 25%;
  border-top: 2px solid #606060;
  padding-top: 0.5em;
}
.gallery {
  text-align: center;
  margin: 2em 5%;
  padding: 0;
}
.project {
  height: auto;
  width: 450px;
  padding: 10px;
}
.project:hover {
  opacity: 80%;
}
.project:hover .info {
  opacity: 1;
  transform: translateY(250px);
  -webkit-transform: translateY(250px);
}
.left {
  float: right;
  text-align: right;
}
.right {
  float: left;
  text-align: left;
}

// GALLERY IMAGE HOVER STATE //


// RESUME PAGE //
.resume {
  text-align: center;
  background-color: white;
  width: 84%;
  margin: 3em 8%;
  height: auto;
  padding-left: 2em;
  padding-right: 2em;
}
#name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 42px;
  letter-spacing: 0.08em;
  padding: 1em 0 0 0;
}
#jobtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  //letter-spacing: 0.1em;
  padding: 0 0 2em 0;
}
.col-sm-8 {
  text-align: left;
  //margin-left: 2em;
  //margin-right: 2em;
}
.col-sm-4 {
  text-align: left;
  //margin-left: 2em;
  //margin-right: 2em;
}
.header {
  font-weight: 600;
  font-size: 12px;
  border-bottom: solid 1px #606060;
}
.text {
  font-size: 12px;
}
#smiley {
  width: 16px;
  height: auto;
  margin-left: 10px;
}


// FOOTER // 768px
.social {
  height: auto;
  width: 20px;
  margin: 50px 10px 25px 10px;
}

// RESPONSIVE //
@media screen and (max-width: 1200px) {
  .splash {
    margin: 0;
    margin-top: 1em;
  }
  .menu {
    //text-align: right;
    //padding: 0;
    //margin: 0;
    margin-top: 0.5em;
    //border-right: 2px solid #606060;
    width: 80%;
  }
  .project {
    height: auto;
    width: 350px;
  }
  .left {
    text-align: center;
  }
  .right {
    text-align: center;
  }
}

// FONT STYLES //
h1 {
  font-weight: 400;
  font-size: 60px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 30px;
}

p {
  font-family: 'Montserrat', sans-serif;
}
