body {
  font-family: 'Montserrat', sans-serif; }
  body .banner {
    height: 60px; }
  body input, body textarea {
    font-family: inherit;
    font-size: inherit; }
  body .form-inline {
    margin: 0px auto;
    width: 500px; }
  body .topnav {
    padding-top: 2em;
    padding-bottom: 2em; }
  body h1 {
    font-weight: 700;
    font-size: 70px;
    color: white;
    padding-top: 1.5em;
    padding-bottom: 0.25em; }
  body h2 {
    font-weight: 700;
    font-size: 44px;
    color: black;
    padding-top: 1.5em;
    padding-bottom: 0.25em; }
  body h3 {
    font-weight: 200;
    font-size: 11px;
    line-height: 20px; }
  body h4 {
    font-weight: 300;
    font-size: 21px;
    color: white; }
  body h5 {
    font-weight: 200;
    font-size: 16px;
    color: #747474;
    padding-bottom: 4em; }
  body a {
    font-weight: 700;
    font-size: 12px;
    margin-right: 30px;
    color: white; }
    body a.links {
      color: black; }
  body a:active, body a:focus {
    padding-bottom: 0.2em;
    border-bottom: 3px solid white; }
  body a:target {
    border-bottom: 3px solid white; }
  body p {
    font-weight: 300;
    font-size: 13px;
    color: #747474; }
    body p.ban {
      color: #292534; }
    body p.bold {
      font-weight: 700;
      padding-top: 2em; }
    body p.small {
      font-weight: 300px;
      color: black;
      font-size: 12px;
      padding-bottom: 2em; }
    body p.big {
      font-weight: 300px;
      color: black;
      font-size: 14px; }
    body p.white {
      font-weight: 300px;
      color: white;
      font-size: 14px; }
    body p.little {
      font-weight: 300px;
      color: white;
      font-size: 12px;
      padding-bottom: 2em; }
  body .light {
    color: white; }
  body .number {
    font-weight: 700;
    font-size: 48px; }
  body #iphone {
    max-width: 180px; }
  body #iphone2 {
    padding-bottom: 4em; }
  body #check {
    padding-right: 0.75em; }
  body #apple {
    padding-right: 2em; }
  body #learn {
    font-size: 10px;
    border: none; }
  body #black {
    padding-left: 4em;
    float: left; }
  body #company {
    padding-right: 2em; }
  body #social {
    padding-right: 1em;
    text-align: right;
    float: right; }
  body .social {
    margin-right: 2em; }
  body .btn-primary {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 140px;
    padding: 1em 3em;
    font-weight: 700;
    font-size: 10px;
    border-radius: 25px;
    background-color: white;
    color: black; }
    body .btn-primary.new {
      border: none;
      margin: none;
      padding: none;
      width: 60px;
      padding: 0.4em .6em;
      font-weight: 300;
      font-size: 9px;
      background-color: #1b8bf9;
      color: white;
      margin-right: 2em; }
    body .btn-primary.download {
      border: none;
      border: 1px solid white;
      background-color: transparent;
      color: white;
      width: 150px;
      padding: 1.5em 1em;
      margin-right: 3em;
      margin-top: 6em;
      font-size: 10px;
      -webkit-box-shadow: none;
      box-shadow: none; }
  body .submit {
    padding-bottom: 4em; }
  body .row {
    background: #f5f4f4; }
    body .row.hero-image {
      background: #0cb3f8; }
    body .row.dark {
      background: #222222; }
    body .row.plain {
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/cliffs.png");
      max-height: 344px;
      width: 100%; }
    body .row.footer {
      background-color: white;
      height: 8em;
      padding-top: 2.5em;
      color: black;
      text-align: center; }
    body .row .price {
      background: white;
      border-radius: 5px;
      padding-top: 20px;
      padding-bottom: 10px;
      margin-bottom: 6em; }
      body .row .price.alt {
        background: #1b8bf9; }
    body .row .col.left {
      float: left;
      text-align: left;
      max-width: 350px;
      padding-left: 4em; }
    body .row .col.right {
      float: right;
      text-align: right; }
  body * {
    box-sizing: border-box; }
  body .form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-bottom: 5em; }
  body .form-inline label {
    margin: 5px 10px 5px 0; }
  body .form-inline input {
    width: 350px;
    color: white;
    vertical-align: middle;
    margin: 5px -5px 5px 0;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    font-size: 11px; }
  body .form-inline button {
    border: none;
    width: 150px;
    padding: 15px 50px;
    background-color: white;
    color: black;
    font-weight: 700;
    font-size: 11px;
    cursor: pointer;
    border-radius: 5px; }
  body .form-inline button:hover {
    background-color: royalblue; }
  @media (max-width: 800px) {
    body .form-inline input {
      margin: 10px 0; }
    body .form-inline {
      flex-direction: column;
      align-items: stretch; } }
